* {
    margin: 0px;
    box-sizing: border-box;
  }
  
  
  
  a, a:visited, a:active {
    text-decoration: none;
    color: inherit;
  }
  
  
  
  
  .page {
    color: #888888;
    
    min-height: 100vh;
    min-width: 1280px;
  }  